

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+3:ital,wght@0,300;1,200&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.container1{
    text-align: center;
    background: url("/images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    
    padding-top: 10%;
}
.people{
    
    font-size: 15px;
    text-align: center;
    
}
.jumbotron{
    color: white;
    background-color: transparent;
}
.click{
    padding-bottom: 2%;
}
.container h1{
   text-align: center;
}
.container p{
    text-align: center;
    font-size: 15px;
}
.container2{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background: url("/images/s_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2 h1, p{
     text-align: center;
}

/* styling what we do section */
.container3 h2{
    margin-top: 2%;
    text-align: center;
}

.container4 h1{
   text-align: center;
}
.portfolio {
    padding-left: 5%;
}
.port{
    align-items: center;
}
.card img{
    
    height: 200px;
    width: 200px;
}
.card-container{
    /* box-sizing: ; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2% 2% 2% 2%;
    background: transparent;
    perspective:300px;

}
.card-container:onclick .card {
    transform: rotateY(180deg);
  }
  /* #back{
     -webkit-backface-visibility: hidden;  
   backface-visibility: hidden; 
 }   */
.back{
    background-color: grey;
  color: white;
  transform: rotateY(180deg);
}
.card{
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 2%;
}


/* styling portfolio */

.portifolio{
    margin-left: 3%;
    margin-right: 3%;
}
.port{
    margin-left: 3%;
    margin-right: 3%;
}
.col-sm{
     margin: 1%; 
}

.row{
    align-items: center;
    /* margin: 2%; */
}

/* styling CONTACT US section */

.container5{
    text-align: center;
    color: white;
    background: url("/images/c_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.myform{
    color: white;
}
.myform input{
    width: 25%;
    background: none;
    border: 1px solid white;
    
}
.myform textarea{
    width: 50%;
    background: none;
    border: 1px solid white;
}

#btn{
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin-bottom: 1%;
}

