


.container1{
    text-align: center;
    background: url("/images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-top: 10%;
}
.people{
    
    font-size: 15px;
    text-align: center;
    
}
.jumbotron{
    color: white;
    background-color: transparent;
}
.click{
    padding-bottom: 2%;
}
.container h1{
   text-align: center;
}
.container p{
    text-align: center;
    font-size: 15px;
}
.container2{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background: url("/images/s_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2 h1, p{
     text-align: center;
}