


.container1{
    text-align: center;
    background: url("/images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-top: 10%;
}
.people{
    
    font-size: 15px;
    text-align: center;
    
}
.jumbotron{
    color: white;
    background-color: transparent;
}
.click{
    padding-bottom: 2%;
}
.container h1{
   text-align: center;
}
.container p{
    text-align: center;
    font-size: 15px;
}
.container2{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background: url("/images/s_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2 h1, p{
     text-align: center;
}

/* styling what we do section */
.container3 h2{
    margin-top: 2%;
    text-align: center;
}

.container4 h1{
   text-align: center;
}
.portfolio {
    padding-left: 5%;
}
.port{
    align-items: center;
}
.card img{
    
    height: 200px;
    width: 200px;
}
.card-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2% 2% 2% 2%;
}
.card{
    margin: 2%;
}

/* styling portfolio */
.portifolio{
    
    margin-left: 3%;
    margin-right: 3%;
}
.col-sm{
    margin: 1%;
}
.row img{
    width: 200px;
}
.row{
    align-items: center;
    margin: 2%;
}
