

*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+3:ital,wght@0,300;1,200&display=swap');
}
body{
    font-family: 'Roboto', sans-serif;
}
.container1{
    text-align: center;
    background: url("images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-top: 10%;
}

.people{
    
    font-size: 15px;
    text-align: center;
    
}
.jumbotron{
    color: white;
    background-color: transparent;
}
.click{
    padding-bottom: 2%;
}
.container h1{
   text-align: center;
}
.container p{
    text-align: center;
    font-size: 15px;
}
.container2{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background: url("images/s_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2 h1, p{
     text-align: center;
}

/* styling what we do section */
.container3 h2{
    margin-top: 2%;
    text-align: center;
}
#content1{
    text-align: center;
    font-weight: bolder;
    
}
#content2{
    
    text-align: center;
    font-weight: bolder;
}
#content3{
    text-align: center;
    font-weight: bolder;
}
#one{
    display: none;
}
#two{
    display: none;
}
#three{
    display: none;
}
.container4 h1{
   text-align: center;
}
.portfolio {
    padding-left: 5%;
}
.port{
    align-items: center;
}
.card img{
    
    height: 200px;
    width: 200px;
}
#overlay {
    display:none;
    width: 367px;
    height: 300px;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
    top: 0.1em; 
    font-weight: bolder;
}
#overlay #p1{
    margin-top: 30%;
}
#overlay2{
    width: 367px;
    height: 300px;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
    font-weight: bolder;
}
#overlay2 #p2{
    margin-top: 30%;
}
#overlay3 {
    width: 367px;
    height: 300px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
}
#overlay3 #p3{
    margin-top: 30%;
}
#overlay4 {
    
    width: 367px;
    height: 298px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    background-color:rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
}
#overlay4 #p4{
    margin-top: 30%;
}
#overlay5 {
    width: 367px;
    height: 298px;
    color: black;
   
    font-weight: bolder;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.2em; 
    display:none;
    font-weight: bolder;
}
#overlay5 #p5{
    margin-top: 30%;
}
#overlay6 {
    width: 367px;
    height: 298px;
    color: black;
    
    font-weight: bolder;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
}
#overlay6 #p6{
    margin-top: 30%;
}
#overlay7 {
   
    width: 367px;
    height: 300px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
}
#overlay7 #p7{
    margin-top: 30%;
}
#overlay8 {
   
    width: 367px;
    height: 298px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 0.1em; 
    display:none;
}
#overlay8 #p8{
    margin-top: 30%;
}  
    
.container-fluid-5{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2% 2% 2% 2%;
    background: transparent;
}

.card{
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 2%;
}

/* styling portfolio */

.portifolio{
    margin-left: 3%;
    margin-right: 3%;
}
.port{
    margin-left: 3%;
    margin-right: 3%;
}
.col-sm{
     margin: 1%; 
}

.row{
    align-items: center;
}

/* styling CONTACT US section */

.container5{
    text-align: center;
    color: white;
    background: url("images/c_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#MESSAGE{
    color: white;
}
.myform input{
    border: none;
    padding: 15px;
    width: 24%;
    background: none;
    border: 1px solid white;
  
}
::placeholder{
    color: white;
    font-size: 21px;
}
#NAME{
    margin: 2%;
}
.myform textarea{
    border: none;
    width: 50%;
    padding: 15px;
    background: transparent;
    border: 1px solid white;
}

.button{
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin-bottom: 1%;
    border-radius: 10px;
}
.container6 {
    margin-left: 35%;
}

footer{
    font-weight: bolder;
}

@media only screen and (max-width: 425px){
    .logo {
        height: auto;
        width: auto;
    }
    htmal{
        font-size: 60%;
    }
    .port{
        margin-left: 1%;
        margin-right: 1%;
    }
    .myform textarea{
        border: none;
        width: 50%;
        padding: 10px;
       
    }
    .container5{
        display: inline;
    }
    .container6 img {
        display: inline;
        margin-left: auto;
    }
    .portifolio{
        margin-left: 1%;
        margin-right: 1%;
    }
    .portfolio {
        padding-left: 1%;
    }
    #overlay #overlay2 #overlay3 #overlay4 #overlay5 #overlay6 #overlay7  #overlay8{
        margin-top: auto;
        height: auto;
        width: auto;
        font-size: auto;
    }
    .container2{
        padding-top: 2%;
        padding-bottom: 2%;
    }
   
 } 